<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Products</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/vendor.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
  <!-- script
  ================================================== -->
  <script src="/css/js/modernizr.js"></script>
  <div th:replace="fragments/header :: header"></div>
  <br><br><br><br><br>
</head>
<body>

<div class="container">
  <h1 class="text-center">Update Product</h1>
  <div class="list-group mb-3  align-items-center">
    <br><br><br>
  <form action="/product/update" method="post">
    <input type="hidden" name="id" th:value="${product.id}">

    <label for="name">Name:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="name" name="updatedProduct.name" th:value="${product.name}" required><br><br>

    <label for="price">Price:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="price" name="updatedProduct.price" th:value="${product.price}" required><br><br>

    <label for="details">Details:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="details" name="updatedProduct.details" rows="4" required th:text="${product.details}"></textarea><br><br>

    <label for="productCount">Product_Count:</label>
    <input type="text" id="productCount" name="updatedProduct.productCount" th:value="${product.productCount}" required><br><br>


    <label for="imageUrl">Image URL:</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="imageUrl" name="updatedProduct.imageUrl" th:value="${product.imageUrl}" placeholder="Image URL" onchange="previewImage(this.value)"><br><br>
    <div id="imagePreview"></div><br>


    <button type="submit" class="btn btn-primary">Update Product</button>
  </form>
  </div>
</div>
  <script>
    function previewImage(url) {
      var imgPreview = document.getElementById('imagePreview');
      imgPreview.innerHTML = '<img src="' + url + '" alt="Image Preview" style="max-width: 200px; max-height: 200px;">';
    }
  </script>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="/css/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/css/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/css/js/plugins.js"></script>
<script type="text/javascript" src="/css/js/script.js"></script>
</body>
</html>