<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" id="footer" class="overflow-hidden padding-xlarge pb-0"  >
  <div class="container">
    <div class="row">
      <div class="footer-top-area pb-5">
        <div class="row d-flex flex-wrap justify-content-between">
          <div class="col-lg-3 col-sm-6 pb-3" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1000" data-aos-once="true">
            <div class="footer-menu">
              <img src="/css/images/main-logo.png" alt="logo" class="mb-2">
              <p>Explore a world of books and discover your next great read. Happy browsing!</p>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 pb-3" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1200" data-aos-once="true">
            <div class="footer-menu">
              <h4 class="widget-title pb-2">Quick Links</h4>
              <ul class="menu-list list-unstyled">
                <li class="menu-item pb-2">
                  <a href="/register">Register</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="/login">Login</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="/product/index">Shop</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="/product/cart">Cart</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 pb-3" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1400" data-aos-once="true">
            <div class="footer-menu contact-item">
              <h4 class="widget-title pb-2">Contact info</h4>
              <ul class="menu-list list-unstyled">
                <li class="menu-item pb-2">
                  <a href="#">Tea Berry, Marinette, USA</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="#">+55 111 222 333 44</a>
                </li>
                <li class="menu-item pb-2">
                  <a href="mailto:">yourinfo@gmail.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 pb-3" data-aos="fade" data-aos-easing="ease-in" data-aos-duration="1600" data-aos-once="true">
            <div class="footer-menu">
              <h4 class="widget-title pb-2">Social info</h4>
              <p>You can follow us on our social platforms to get updates.</p>
              <div class="social-links">
                <ul class="d-flex list-unstyled">
                  <li>
                    <a href="#">
                      <svg class="facebook">
                        <use xlink:href="#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="instagram">
                        <use xlink:href="#instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="twitter">
                        <use xlink:href="#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="linkedin">
                        <use xlink:href="#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="youtube">
                        <use xlink:href="#youtube"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div id="footer-bottom">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-12">
          <div class="copyright">
            <p>© Copyright 2023 Vaso. Design by <a href="https://templatesjungle.com/" target="_blank"><b>TemplatesJungle</b></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Video Popup -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><svg class="bi" width="40" height="40"><use xlink:href="#close-sharp"></use></svg></button>
          <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>
<script th:inline="javascript">
  var message = /*[[${#strings.escapeJavaScript(message)}]]*/ null;
  if(message){
    alert(message);
  }
</script>
<script th:inline="javascript">
  var error = /*[[${#strings.escapeJavaScript(error)}]]*/ null;
  if(error){
    alert(error);
  }
</script>

</body>
</html>
